<div class="container-fluid bg-light h-100">
    <div class="container-xxl">
        <div class="row">
            <section>
                <h3 class="mb-0">{{title}}</h3>
            </section>
            <section>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row g-3">
                            <div class="col-lg-4">
                                <div class="card h-100" routerLink="loans">  
                                    <div class="card-body w-100">
                                        <div class="mb-3">Prestamos <i class="bi bi-cash-coin ms-1"></i></div>
                                        <h3 class="mb-0">25</h3>
                                        <a class="float-end">Ver todo</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card h-100">
                                    <div class="card-body w-100">
                                        <div class="mb-3">Total por colectar <i class="bi bi-bank ms-1"></i></div>
                                        <h3 class="mb-0">RD$357000</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card h-100">
                                    <div class="card-body w-100">
                                        <div class="mb-3">Capital flotante <i class="bi bi-wallet2"></i></div>
                                        <h3 class="mb-0">RD$698000</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>  
    </div>
</div>