<div class="p-3 bg-white overflow-auto animate__animated animate__fadeIn">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Monto Prestado</th>
                <th>Interes (%)</th>
                <th>Interes ($)</th>
                <th>Total a Pagar</th>
                <th>Total Pagado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <!-- for loop goes here -->
            <tr>
                <td>1</td>
                <td>john</td>
                <td>$0</td>
                <td>0%</td>
                <td>$0</td>
                <td class="text-danger">$0</td>
                <td>$0</td>
                <td>
                    <em>null</em>
                </td>
            </tr>
        </tbody>
    </table>
</div>