<div class="p-3 bg-white overflow-auto animate__animated animate__fadeIn">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Monto Prestado</th>
                <th>Interes (%)</th>
                <th>Interes ($)</th>
                <th>Total a Pagar</th>
                <th>Total Pagado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <!-- for loop goes here -->
            <tr>
                <th>1</th>
                <th>john</th>
                <th>$0</th>
                <th>0%</th>
                <th>$0</th>
                <th class="text-danger">$0</th>
                <th>$0</th>
                <th>
                    <em>null</em>
                </th>
            </tr>
        </tbody>
    </table>
</div>