<div class="p-3 bg-white overflow-auto animate__animated animate__fadeIn">
    <p *ngIf="paidLoans == 0 || paidLoans == null">No existen préstamos saldados.</p>
    <table class="table table-hover" *ngIf="paidLoans.length > 0">
        <thead>
            <tr>
                <th>Apertura</th>
                <th>Cierre</th>
                <th>Nombre</th>
                <th>Monto Prestado</th>
                <th>Tasa</th>
                <th>Monto Recaudado</th>
                <th>Ganancias</th>
            </tr>
        </thead>
        <tbody>
            <!-- for loop goes here -->
            <tr *ngFor="let loan of paidLoans | paginate: { itemsPerPage: 10, currentPage: p }">
                <td>{{loan.startDate}}</td>
                <td>{{loan.endDate}}</td>
                <td>{{loan.firstname}} {{loan.lastname}}</td>
                <td>RD${{loan.amount | mask: 'separator':','}}</td>
                <td>{{loan.monthlyInterestRate}}%</td>
                <td>RD${{loan.expectedEarnings | mask: 'separator':','}}</td>
                <td>RD${{loan.expectedEarnings - loan.amount | mask: 'separator':','}}</td>
            </tr>
        </tbody>
    </table>
    <nav class="float-end" aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item" (click)="previous()"><a class="page-link" >Anterior</a></li>
          <li class="page-item" (click)="next()"><a class="page-link" >Siguiente</a></li>
        </ul>
      </nav>
</div>