<div class="container-fluid bg-light h-100">
    <div class="container-xxl animate__animated animate__fadeInUp">
        <div class="row">
            <section>
                <h4 class="mb-0"><strong>{{title}}</strong></h4>
                <p class="mb-0 text-muted"><small><i class="bi bi-info-circle"></i> Tu aplicación web ligera para manejo de prestamos</small></p>
            </section>
            <section>
                <div class="row">
                    <div class="col-md-6">
                        <h5>¿Qué es KIVA?</h5>
                        <p>
                            KIVA es una aplicación web ligera que permite a prestamistas 
                            independientes gestionar su negocio de prestamos por medio de
                            una interfaz simple e intuitiva, sin funciones complejas.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h5>Misión: Dile adiós a Excel</h5>
                        <p>
                            Manejar un negocio de prestamos con Excel ha sido la práctica
                            común para millones de prestamistas en todo el mundo, pero esto
                            no significa que sea lo más eficiente. De hecho, mas de un 84% de
                            prestamistas reporta que <span class="text-danger">operar su negocio utilizando Excel 
                                resulta caótico e insostenible a mediano y largo plazo.</span>
                        </p>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>