@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

* {
    //font-family: 'JetBrains Mono', monospace;
    // font-family: 'Overpass', sans-serif;
    // font-family: 'Poppins', sans-serif;
    font-family: 'Sora', sans-serif;
}
h1, h2, h3, h4, h5 {
    color:#1b3a57 !important;
}
p, label, textarea, input, span {
    color: #0000008a !important;
}
.bg-dark {
    background-color: #051e34 !important;
}
app-root {
    display: flex;
    flex-flow: column;
}
app-admin, app-loans, app-login, app-clients, app-new {
    flex:1;
}
body, html, app-root {
    height:100%;
}
section {
    padding: 1.5rem 0rem;
}
.overflow-x-scroll {
    overflow-x:scroll;
}
.modal-body {
    p {
        margin-bottom: 0.2rem;
    }
    &.confirm {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        img {
            width: 90px;
            margin-bottom: 1rem;
        }
    }
}
.dropdown-menu {
	.dropdown-item {
        cursor: pointer;
        &.success:hover {
            background-color: #a6daa6 !important; 
        }
        &.danger:hover {
            background-color: #d28d8d !important; 
        }
    }
}
.window-alert {
    position:absolute;
    bottom: 1rem;
    right: 1rem;
}